// Define variables for your color scheme

// For example:
$red: rgb(236, 5, 141);
$blue: rgb(5, 78, 236);
$yellow: #efe41a;
$orange: #f0a418;
$green: #1aef7a;
$gray: #0e0000;
$light-gray: #f4f4f4;
$second: rgb(236, 5, 141);
$main: rgb(87, 70, 167);
