// Define variables for your color scheme

// For example:
$red: rgb(236,5,141);
$blue: rgb(236,5,141);
$yellow: #EFE41A;
$orange: #F0A418;
$green: #1AEF7A;
$gray: #0E0000;
$light-gray: #F4F4F4;
$second: rgb(236,5,141);
$main: rgb(87,70,167);
