<!DOCTYPE html>
<html lang="en">
<head style="padding: 0; margin: 0; overflow: hidden; box-sizing: border-box;">
 <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
 <meta name="x-apple-disable-message-reformatting">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta content="IE=edge" http-equiv="X-UA-Compatible">
 <title>Confirmation Email</title> 
</head>
<body style="padding: 0; margin: 0; text-align: center; background-color: rgb(244,244,244);">
  <div style="margin: 0 auto;">
    <%= image_tag "https://res.cloudinary.com/dxoo6hrvw/image/upload/v1630665229/NCC/logo-full_ty7sc2.png", style: 'width: 150px' %>
  </div>
  <div style="width: 80%; height: 1px; background-color: rgb(236, 5, 141); margin: 0 auto;"></div>
  <br>
  <h2> Hello <%= @user.email %> and Welcome to Nessy Creativity Crafts</h2>
  <h5>Ready for shopping?</h5>
  <br>
  <div style="text-align: left; width: 80%; margin: 0 auto;">
    <p>Please add you details, such as Name, adddress and contact details <%= link_to "HERE", profile_url, target: "_blanked" %> to be able to make purchase on our website!</p>
    <p>We’re here to help, if you have any questions, please email us on  <strong>contact@nessycreativitycrafts.com</strong> </p>
    <p>We cant wait to see you soon!</p>
  </div>
  <p><strong> Regards</strong></p>
  <p><strong>"NCC Team"</strong> </p>
  <br>
  <div style="width: 80%; height: 1px; background-color: rgb(87, 70, 167); margin: 0 auto;"></div>
    <p >© 2021 <span style="color:  rgb(236, 5, 141);">Nessy</span > <span style="color: rgb(87, 70, 167);">Creativity Crafts</span></p>
</body>
</html>



