<h2> Hello <%= @user.email %> and Welcome to Nessy Creativity Crafts</h2>
<p>

 
Ready for shopping?
<br>
Please add you details such as Name,adddress <%= link_to "HERE", root_url, target: "_blanked" %> to be able to make purchase on our website!
<br>
We’re here to help
If you have any questions, please write to  contact@nessycreativitycrafts.com</p>
 <br>
 <p>We cant wait to see you soon</p>
 <p>Kind Regards</p>



