<p> Hello <%= @user.email %></p>
 <p>Thank you and welcome to NCC.com</p>
 <p>visit this link <a href="www.db-uk.net" target="_blanked">My page</a></p>
 <%= link_to "get back to home", root_url, target: "_blanked" %>
 <p>Kind Regards</p>