.about-container {
  justify-content: flex-end;
  align-items: center;
  height: 700px;
  border-radius: 5px;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("https://res.cloudinary.com/dxoo6hrvw/image/upload/v1621433930/NCC/output-onlinepngtools_kynjer.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}

.about-container2 {
  justify-content: flex-start;
  align-items: center;
  height: 700px;
  border-radius: 5px;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("https://res.cloudinary.com/dxoo6hrvw/image/upload/v1621433931/NCC/output-onlinepngtools_2_nohr6b.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}

.about-text {
  min-width: 260px;
  max-width: 40%;
  padding: 0 20px;
  margin-right: 110px;
}

.about-text2 {
  min-width: 260px;
  max-width: 40%;
  padding: 0 20px;
  margin-left: 110px;
}

@media only screen and (max-width: 1000px) {
  .about-container2 {
    justify-content: center;
  }

  .about-container {
    justify-content: center;
  }

  .about-text {
    max-width: 80%;
    margin-right: 0;
  }

  .about-text2 {
    max-width: 80%;
    margin-left: 0;
  }
}
