// Specific CSS for your home-page

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-weight: lighter;
  // overflow-x: hidden;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
// -----custom classes-----
.box-shadow {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  &:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
}

.second-color {
  color: $second;
}
.main-color {
  color: $main;
}
.db {
  color: #c4254e;
  opacity: 0.5;
}
.text-special {
  font-family: $text-spec;
  color: $main;
}
.text-big {
  font-size: 70px;
}
.hr {
  margin: 0 auto;
  height: 2px;
  background: $linear;
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}
// ---------------Rotating  Animation -----------------

// .span-anime {
//   display: block;
//   position: absolute;
//   top: calc(50% - 5em);
//   left: calc(50% - 5em);
//   width: 10em;
//   height: 10em;
// }

// span.spin {
//   animation: spin 10s linear infinite;
// }

// span.spin-reverse {
//   animation: spin 30s linear infinite;
// }

// span.pulse {
//   animation: spin-pulse 20s linear infinite;
// }

// @keyframes spin {
//   0% {
//     transform: rotateZ(0);
//   }
//   100% {
//     transform: rotateZ(360deg);
//   }
// }

// @keyframes spin-pulse {
//   0% {
//     transform: scale(1) rotateZ(0);
//   }
//   50% {
//     transform: scale(0.9) rotateZ(180deg);
//   }
//   100% {
//     transform: scale(1) rotateZ(360deg);
//   }
// }

// .circle {
//   border-radius: 50%;
//   left: calc(50% - 3em);
//   top: calc(50% - 6em);
//   transform-origin: 50% 6em;
// }

// .squircle {
//   border-radius: 25%;
// }

// .circle,
// .squircle {
//   width: 6em;
//   height: 6em;
//   position: absolute;
//   border-top: 0.1em solid rgba(255, 255, 255, 0.4);
// }

// .large.circle {
//   box-shadow: 0 1em 2em rgba(0, 0, 0, 0.5);
// }

// .small {
//   width: 2em;
//   height: 2em;
//   left: calc(50% - 1em);
//   top: calc(50% - 7.5em);
//   transform-origin: 50% 7.5em;
//   box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.2);
// }

// $transparency: 0.75;

// .one {
//   background: rgba(16, 63, 236, $transparency);
//   transform: rotateZ(225deg);
// }
// .two {
//   background: rgba(37, 172, 162, $transparency);
//   transform: rotateZ(180deg);
// }
// .three {
//   background: rgba(233, 124, 32, $transparency);
//   transform: rotateZ(135deg);
// }
// .four {
//   background: rgba(235, 67, 35, $transparency);
//   transform: rotateZ(90deg);
// }
// .five {
//   background: rgba(190, 28, 65, $transparency);
//   transform: rotateZ(45deg);
// }
// .six {
//   background: rgba(208, 57, 159, $transparency);
//   transform: rotateZ(0);
// }
// .seven {
//   background: rgba(150, 32, 198, $transparency);
//   transform: rotateZ(-45deg);
// }
// .eight {
//   background: rgba(95, 33, 203, $transparency);
//   transform: rotateZ(-90deg);
// }

// .small.squircle {
//   background: none;
//   box-shadow: none;

//   &::after {
//     content: "";
//     border-radius: 25%;
//     width: 100%;
//     height: 100%;
//     position: absolute;
//     background: red;
//     transform: rotateZ(-45deg);
//     box-shadow: -0.25em 0.25em 0.5em rgba(0, 0, 0, 0.2);
//   }

//   &.two::after {
//     background: rgba(37, 172, 162, $transparency);
//   }
//   &.four::after {
//     background: rgba(235, 67, 35, $transparency);
//   }
//   &.six::after {
//     background: rgba(208, 57, 159, $transparency);
//   }
//   &.eight::after {
//     background: rgba(95, 33, 203, $transparency);
//   }
// }

// .large.squircle {
//   position: absolute;
//   background: rgba(30, 7, 66, 0.65);
//   border: none;
//   left: calc(50% - 3.5em);
//   top: calc(50% - 3.5em);
//   width: 7.5em;
//   height: 7.5em;
//   transform: none;

//   &.one {
//     transform: rotateZ(45deg);
//   }
// }

// .content {
//   text-align: center;
// }

//----- banner container ----------------
.banner {
  .video {
    margin: 0 auto;
    width: 100%;
    max-height: 820px;
  }
  // background-image: url("https://res.cloudinary.com/dxoo6hrvw/image/upload/v1626115193/NCC/how-we-started_msrcar.jpg");
  // position: fixed;
  // height: 100%;
  // width: 100%;
  // position: absolute;
  // .arrow-down {
  //   color: rgb(97, 97, 97);
  //   background-color: white;
  //   padding: 5px 12px;
  //   border-radius: 50%;
  // }
}

// ------- arrow down animation -----

// .arrow-wrap {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   height: 10vh;
//   // background: #000;
// }

// .arrow-down {
//   position: relative;
//   width: 50px;
//   height: 50px;
//   transform: rotate(45deg);
// }

// .arrow-down span {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   border: none;
//   border-right: 3px solid $second;
//   border-bottom: 3px solid $second;
//   animation: arrow-down 1s linear infinite;
// }

// .arrow-down span:nth-child(1) {
//   top: -30px;
//   left: -30px;
//   animation-delay: 0;
// }

// .arrow-down span:nth-child(2) {
//   top: -15px;
//   left: -15px;
//   animation-delay: 0.2s;
// }

// .arrow-down span:nth-child(3) {
//   top: 0;
//   left: 0;
//   animation-delay: 0.4s;
// }

// .arrow-down span:nth-child(4) {
//   top: 15px;
//   left: 15px;
//   animation-delay: 0.6s;
// }

// .arrow-down span:nth-child(5) {
//   top: 30px;
//   left: 30px;
//   animation-delay: 0.8s;
// }

// @keyframes arrow-down {
//   0% {
//     border-color: $main;
//     transform: translate(0, 0);
//   }
//   20% {
//     border-color: $main;
//     transform: translate(15px, 15px);
//   }
//   20.1%,
//   100% {
//     border-color: $second;
//   }
// }
// -------contact us form-------

.contact-us-form {
  max-width: 420px;
  margin: 0 auto;
}
.form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  label:hover {
    transition: 1s ease;
    color: $second;
  }
  input {
    background-color: rgb(244, 244, 244);
    margin-bottom: 20px;
    border: 0px;
  }
  .text-area {
    border: 0px;
    margin-bottom: 20px;
    background-color: rgb(244, 244, 244);
    height: 100px;
  }
  button {
    box-shadow: 2px 8px 8px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    width: 40%;
    margin: 0 auto;
    background: $linear;
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    border-radius: 5px;
    border: none;
    color: rgb(97, 97, 97);
    &:hover {
      color: white;
    }
  }
}

// -----info div-------
.info {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.find-craft {
  border-radius: 5px;
  box-shadow: 2px 8px 8px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  height: 150px;
  background-image: $linear;
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
// ---------flipping cards --------
.flipping-cards {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 2%;
  text-align: center;
  color: white;
  flex-wrap: wrap;
  p {
    padding-top: 35%;
  }
}

.flipping-card {
  box-shadow: 2px 8px 8px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border: none;
  position: relative;
  width: 20%;
  padding-bottom: 20%;
  margin: 40px;
}

@media only screen and (max-width: 500px) {
  .flipping-card {
    width: 30%;
    padding-bottom: 30%;
    margin: 10px;
  }
}

.front,
.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.front,
.back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

.front {
  background-image: $linear;
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

.back {
  background: #f4f4f4;
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  padding-top: 10px;
}

.flipping-card:hover .front {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.flipping-card:hover .back {
  -webkit-transform: rotateY(0);
  transform: rotateY(0);
}

.flipping-card img {
  background-position: center;
  background-repeat: none;
  background-size: cover;
  width: 60%;
  height: 70%;
}

// -----------------ideas carousel--------------------

.container-carousel {
  position: relative;
  width: 100%;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: $main;
  font-weight: bold;
  font-size: 30px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(233, 233, 233, 0.8);
  text-decoration: none;
  color: $main;
  transition: 0.5s ease;
}

.caption-container {
  text-align: center;
  max-height: 50px;
  margin: 0 auto;
}

.carousel-row {
  width: 80%;
  margin: 0 auto;
}

.carousel-row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 16.66%;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
  transition: 0.5s ease;
}

// ----------------touts--------------------
.touts {
  flex-wrap: wrap;
}
.touts-element {
  margin: 10px;
  margin-left: 10px;
  min-width: 210px;
}
.touts-img {
  width: 60px;
  border-radius: 50%;
  height: 60px;
  margin-right: 10px;
}
// -------------how we do section------------------
.how-we-do {
  .card {
    border: none;
  }
}
.how-we-do-img {
  position: relative;
}
.how-we-do-body {
  background-color: white;
  width: 100%;
  min-height: 160px;
}
// ------------hot items------------------

// ------------------------Media  queries ----------------------
@media only screen and (max-width: 500px) {
  .front {
    p {
      font-size: 20px;
    }
  }

  .back img {
    margin-bottom: 0 !important;
  }
}
@media only screen and (max-width: 300px) {
  .front {
    p {
      font-size: 16px;
    }
  }
}
// ----- instagram--------
.insta {
  background: radial-gradient(
      circle farthest-corner at 35% 90%,
      #fec564,
      transparent 50%
    ),
    radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),
    radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
    radial-gradient(
      ellipse farthest-corner at 20% -50%,
      #5258cf,
      transparent 50%
    ),
    radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
    radial-gradient(
      ellipse farthest-corner at 60% -20%,
      #893dc2,
      transparent 50%
    ),
    radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),
    linear-gradient(
      #6559ca,
      #bc318f 30%,
      #e33f5f 50%,
      #f77638 70%,
      #fec66d 100%
    );

  // -webkit-background-clip: text;
  // /* Also define standard property for compatibility */
  // background-clip: text;
  // -webkit-text-fill-color: transparent;
}

.insta-div {
  position: relative;
  width: 25%;
}

.insta-img {
  opacity: 1;
  display: block;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.insta-mid {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.insta-div:hover .insta-img {
  opacity: 0.3;
}

.insta-div:hover .insta-mid {
  opacity: 1;
}
