<p class="heading2 text-center my-6 text-5xl">About Us</p>

<%#  TODO implement these as IMG  %>


<div class="container" >
  <div class="hr mt-5 mb-5"></div>
      <div class="about-container d-flex mb-5" data-aos="fade-right" data-aos-duration="500" data-aos-easing="ease-in-sine">
        <div class="about-text ">
          <p class="heading2 text-center">This is Nessy Creativity Crafts</p>
          <p>
          All our products are hand crafted to be safe and free from over 1,300 harmful substances you don't want. We partner with the most responsible suppliers and follow the strict European Union standards -- the highest in the world for safety.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam numquam consectetur possimus consequuntur blanditiis porro adipisci eum rem dolore molestiae.
          </p>
        </div>
      </div>
  </div>
</div>
<div class="container">
  <div class="about-wrap2">
      <div class="about-container2 d-flex" data-aos="fade-left" data-aos-duration="500" data-aos-easing="ease-in-sine">
        <div class="about-text2">
          <p class="heading2 text-center">All we do, we do with LOVE</p>
          <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis cumque explicabo optio autem nulla consectetur beatae repudiandae iusto ducimus nostrum totam dolorum dicta itaque hic, ipsam nemo enim rem, architecto sed corrupti? Repellat, ea veritatis vitae iusto, obcaecati expedita reiciendis optio voluptate cupiditate dolorem odit ad at libero dicta earum, nesciunt natus! Repellat hic, reprehenderit repellendus ea corporis .
          </p>
        </div>
      </div>
  </div>
</div>