<%# ------------------------contact us form -------------------%>

<div class="container mb-5">
  <section class="mb-4">

      <p class="heading2  text-center my-4">Contact us</p>
      <br>
      <div class="hr mb-3"></div>
      <br>
      <p class="text-center"> Email:<strong> contact@nessycreativitycrafts.com</strong></p>
      <br>
      <div class="contact-us-form">
            <p class="text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to contact us directly. We will come back to you within
            a matter of hours to help you.</p>
            <form
              action="https://formspree.io/f/xbjpaprp"
              method="POST"
              class="form pt-4"
            >
              <label>
                Full Name:
                <input type="text" name="name" class="form-control input">
                <div class="hr"></div>
              </label>
              <label>
                Email:
                <input type="text" name="_replyto" class="form-control input">
                <div class="hr"></div>
              </label>
              <label>
                Your message:
                <textarea name="message" class="form-control text-area"></textarea>
                <div class="hr"></div>
              </label>
               <button type="submit" class="btn-lg btn-outline-primary mt-4">Send</button>
            </form>
      </div>
  </section>
</div>