<div class="lg:px-16 py-6 px-6">
  <h3 class="text-center text-5xl my-6">Covid-19</h3>
  <div class="hr my-6"></div>
  <h3 class="text-lg font-normal">Is it Safe to Order Online During COVID-19?</h3>
  
  <br>
  <br>
  As it becomes even more clear just how infectious COVID-19 is, some shoppers have raised questions about the safety of receiving their online orders. Experts are finding that the virus can live on surfaces from three hours to up to three days, depending on the material. (Note that conclusive findings are difficult to come by in these early days of the virus, and as experts continue their study of it, these numbers may change.)
  <br>
  <br>
  That said, it’s unlikely that COVID-19 would survive on your purchased items from the time they were packed to the time you received your package (especially with the slowdown in the delivery system). And shipping conditions make a tough environment for COVID-19 as well, so it’s not likely you’ll be exposed via the package itself, either. 
  <br>
  <br>
  According to the CDC, “[T]here is likely very low risk of spread from products or packaging that are shipped over a period of days or weeks at ambient temperatures.” The CDC’s statement refers to packages that have been in shipment for at least several days and did not come into contact with any sources of contamination after packaging.
  <br>
  <br>
  The World Health Organization addresses the concern as well, by saying that it is safe to receive packages from locations with reported COVID-19 cases. From their website: “The likelihood of an infected person contaminating commercial goods is low and the risk of catching the virus that causes COVID-19 from a package that has been moved, travelled, and exposed to different conditions and temperature is also low.” 
  </div>
</div>