<div class="container">
  <div class="hr mt-5 mb-5"></div>
  UK Delivery
  <br>
  <br>
  Standard Delivery (UK)
  <br>
  £2.50 
  Order Monday to Sunday for delivery in 3-6 working days.
  Excludes high order volume.
  <br>
  <br>
  Special Delivery (UK)
  <br>
  £6.49 
  Deliveries to UK mainland.
  <br>
  <br> (UK) All Glass works will be delivered via Special Delivery.
  <br>
  <br>
  Free insured delivery via courier is available for all purchases over £250. We aim to deliver craft works within 3-5 working days. Please allow us this time to safely pack and prepare your purchase for delivery. If your order is urgent please specify this and we will endeavour to meet your requirements. Delivery times are an estimate and we will keep you informed if this delivery window is likely to be exceeded.
  <br>
  <br>
  You will receive confirmation of your order and a tracking code once delivery has been booked. If you wish to receive your carft work on a certain day, please specify this by emailing <strong>email</strong>.
  <br>
  <br>
  Europe Shipping
  <br>
  £12.70 (Please contact us via <strong>email</strong> if you are purchasing a Glass work)
  <br>
  <br>
  Europe delivery aim: 5-7 working days.
  <br>
  <br>
  Fully tracked to delivery point.
  <br>
  <br>
  Deliveries outside of the UK (Selected European countries only):
  <br>
  <br>
  Denmark, Hungry, Ireland, Latvia, Lithuania, Poland, Sweden, Romania, France, Germany, Spain, Italy, Netherlands, Portugal, Belgium, Croatia, Estonia, Finland, Bulgaria, Cyprus, Greece, Luxemburg, Malta.
</div>