<div class="lg:px-16 py-6 px-6">
  <h3 class="text-center text-3xl my-6">Help</h3>
  <div class="hr my-12"></div>
  <h3 class="text-lg font-normal">Here you can find extra information about our website.</h3>
    1. Use Customer-Friendly, Colloquial Language, Not Industry Jargon.
  It’s common for industry experts to inadvertently explain an issue to a customer in the same language they’d use to discuss that issue with their peers.
  <br>
  <br>
  That’s a huge mistake. Detailed explanations full of industry jargon might make you look smart and even demonstrate your expertise. However, it also makes you seem condescending to your site visitors. They don’t have your domain space knowledge and, therefore, don’t understand your explanation. As a result, you’ve failed to answer their question and isolated them. Not the best customer service strategy.
   <br>
  <br>
  Your Help page should feel like it was written by humans – for humans. Employ casual language that everyone can understand.
   <br>
  <br>
  2. Create a Well-Thought-Out, Structured Frequently Asked Questions (FAQ) Section.
  Your Help page acts as a kind of funnel, sorting out obvious questions first with FAQs, second with Help articles, and then finally with active support. Without this first layer of passive support, your customer service staff will be bombarded with the same, often simple questions over and over again.
   <br>
  <br>
  Brainstorm a list of 10 to 20 FAQs that you imagine your customers will ask about your product and services. Cut out anything that’s unhelpful, uninformative, or sales-y. For example, no one needs to read about your company mission and business philosophy in the FAQs.
   <br>
  <br>
  Think about the FAQs as a constantly evolving document. Your support staff will notice certain recurring questions from your site visitors. Ask them to keep you informed so that you can continue to add those pertinent questions to the FAQs.
   <br>
  <br>
  Similarly, ask your staff which questions seem superfluous. Your FAQs take up prime real estate on your Help page. Every question and answer that isn’t necessary needs to be removed.
   <br>
  <br>
  3. Build and Continue to Add to a Help Article Repository.
  Most customers will have more complicated requests than they can find in your FAQs. Give your Help page a second layer of passive support by creating a large, growing database of Help articles.
   <br>
  <br>
  Install a search bar. This function should allow customers to enter long tail keywords (i.e. How do I ship a broken product back to your company?) and get a link to the appropriate Help article.
   <br>
  <br>
  Help article repositories are huge. You will need to have a working list of which topics to cover, which you will add to regularly. The more articles you add to the database, the more effective your repository searches will be.
   <br>
  <br>
  Remember to keep help articles short, ideally between 300 and 400 words. Use bullet points and numbered lists. Your Help articles should be easy to scan on mobile devices.
   <br>
  <br>
  4. Offer Active Support in the Form of Live Chat, Email Responses and/or Customer Service Phone Calls.
  Your FAQs and Help articles can’t answer every possible question your customers will ask. Therefore, your business website should offer some kind of active support to site visitors.
   <br>
  <br>
  More frequently, businesses are relying on live chats for active support. Customer service staff corresponds with site visitors via a text box, typically offering a personalized greeting and listening to the customer’s issue. Then, they offer links to Help articles or provide scripted responses to questions. Live chats are fast and efficient but do require that your website has more functionality than the average template offers.
   <br>
  <br>
  If your current site can’t support live chat functionality, use a combination of help desk tickets and email responses to offer active support. You can still share links to Help articles and use your company’s scripted responses.
   <br>
  <br>
  There are some companies who prefer to skip live chat and email responses in favor of phone-based customer service support. If you pursue this option, make sure you have someone available at all times to respond to your customers’ questions. A missed call after hours is the same thing as a no response.
   <br>
  <br>
  5. Include a Prominent Footer with Links to Your Contact Information.
  What if your website server goes down, eliminating your live chat and email functionality, and your customers really need to get a hold of you? Prominently display your business’ contact information on your Help page footer, which will allow your customers to find you the old-fashioned way—via telephone.
   <br>
  <br>
  It’s important to note that your Help page is not a good place to include a comment section. Large amounts of comments will push down your footer and force your site visitors to scroll excessively to reach your contact information.
  </div>
</div>