<div class="container">
  <div class="banner">
    <div class="hero-text">
      <p class="text-special" data-aos="fade-down"  data-aos-duration="3000" style="font-size:60px"><span class="second-color">Nessy</span>  <span class="main-color">Creativity Crafts</span></p>
      <br>
      <br>
      <a href="#cards" class="shop-now"> SHOP NOW </a>
    </div>
  </div>
</div>
<br>
<br>



<div class="info mt-5">
  <div class="container">  
      <div class="container">
        <p data-aos="fade-right"  data-aos-duration="3000" class="heading2">High quality handmade business that delivers <span class="main-color"> creativity</span>  and handmade items paying close attention to details and <span class="second-color"> quality at affordable prices.</span>  Our products range from custom bracelets, glittered wine glasses, custom mugs and more.</p>
      </div>
      <br>
      <br>
      <div class="find-craft container">
        <p class="text-center heading2" data-aos="zoom-in-up">Find your perfect Craft</p>
      </div>
      <br>
      <br>

      <div class="flipping-cards" id="cards">
          <div class="flipping-card">
            <div class="front card-1">
              <p class="heading2">Mugs</p>
            </div>
            <div class="back">
              <img class="mb-4" src="https://images.pexels.com/photos/2417857/pexels-photo-2417857.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="Mugs" />
              <%= link_to "Shop", categories_path, class: "text-dark text-decoration-none" %>
            </div>
          </div>
          <!-- card 2 -->
          <div class="flipping-card">
            <div class="front card-2">
              <p class="heading2">Bracelets</p>
            </div>
            <div class="back">
              <img class="mb-4" src="https://images.pexels.com/photos/371285/pexels-photo-371285.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="Bracelets" />
              <%= link_to "Shop", categories_path, class: "text-dark text-decoration-none" %>
            </div>
          </div>
          <!-- card 3 -->
          <div class="flipping-card">
            <div class="front card-3">
              <p class="heading2">Glasses</p>
            </div>
            <div class="back">
              <img class="mb-4" src="https://images.pexels.com/photos/7184413/pexels-photo-7184413.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="Glasses  " />
              <%= link_to "Shop", categories_path, class: "text-dark text-decoration-none" %>
            </div>
          </div>
        </div>
    
    <%# -----------------touts---------------- %>
        <div class="touts">
          <hr>
          <ul>
            <li>Only on NessyCreativityCrafts.com</li>
            <li>img FREE SHIPPING <br> (in orders over £30)</li>
            <li>img Free goodies <br> (yes please)</li>
            <li>img Surprises <br> (you will love, Tust)</li>
          </ul>
          <hr>
        </div>
        <br>
<%# -------------hot items-------- %>
        <div class="hot-items">
          <p class="heading2 text-center">Hot Items this month!</p>
          <br>
          <div class="hot-items-body d-flex justify-content-around">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="..." alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Bracelet</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="..." alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Bday Mug</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="..." alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Sparkling wine glasss</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
        </div>
        <br>
        <br>
        <p data-interval="2000" data-aos="fade-left"  data-aos-duration="3000" class="heading2">
          Celebrating the precious moments of life with handmade   <span class="main-color">crafts</span>  that give real meanings.
          Each one of our <span class="second-color"> handmade </span>   pieces is uniquely made just for you. With just the right designs, materials, and birthstones, your memories are captured in stunning personalized craft that speak beyond words.
          It’s a privilege to take part in your life’s journey and to see the joy our work gives you. And that’s the reason we <strong class="second-color"> Love</strong>  what we do!
        </p>
<%# --------how we do --------------------- %>
        <br>
        <br>
        <div class="how -we-do">
          <div class="hot-items-body d-flex justify-content-around">
            <div class="card" style="width: 30rem;">
              <img class="card-img-top" src="..." alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">How we create our crafts</h5>
                <p class="card-text">What ever we do we do with Love!.</p>
                <a href="#" class="btn btn-primary">Learn more!</a>
              </div>
            </div>
            <div class="card" style="width: 30rem;">
              <img class="card-img-top" src="..." alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">How we started</h5>
                <p class="card-text">We was insipred but Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam consequuntur vero debitis dignissimos consectetur illo minus earum quisquam totam accusantium?.</p>
                <a href="#" class="btn btn-primary">Read some more!</a>
              </div>
            </div>
          </div>
        </div>
        <br>
        <br>
        <%# ----------------ideas------------------- %>
        <div class="ideas mt-5 mb-5">
          <p class="heading2 text-center">Here are some ideas...</p>
          <div class="images d-flex justify-content-around align-items-center">
            <p class="font-weight-bold h3"><</p>
            <img src="https://images.pexels.com/photos/355952/pexels-photo-355952.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="test">
            <img src="https://images.pexels.com/photos/6707628/pexels-photo-6707628.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="test">
            <img src="https://images.pexels.com/photos/356043/pexels-photo-356043.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="test">
            <img src="https://images.pexels.com/photos/5598296/pexels-photo-5598296.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="test">
            <p class="font-weight-bold h3">></p>
          </div>
        </div>
  </div>
</div>
 

<%# ------------------------contact us form -------------------%>
<br>
<br>
<div class="container mb-5">
  <div class="hr"></div>
  <section class="mb-4">
      <p class="heading2  text-center my-4">Contact us</p>
      <div class="contact-us-form">
            <p class="text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to contact us directly. We will come back to you within
            a matter of hours to help you.</p>
            <form
              action="https://formspree.io/f/xbjpaprp"
              method="POST"
              class="form pt-4"
            > 
              <label>
                Full Name:
                <input type="text" name="name" class="form-control input">
                <div class="hr"></div>
              </label> 
              <label>
                Email:
                <input type="text" name="_replyto" class="form-control input">
                <div class="hr"></div>
              </label>
              <label> 
                Your message:
                <textarea name="message" class="form-control text-area"></textarea>
                <div class="hr"></div>
              </label>
               <button type="submit" class="btn-lg btn-outline-primary">Send</button>
            </form>
      </div>
  </section>
</div>




