<div class="container">
  <div class="banner">
    <div class="hero-text">
      <p class="text-special" data-aos="fade-down"  data-aos-duration="3000" style="font-size:60px"><span class="second-color">Nessy</span>  <span class="main-color">Creativity Crafts</span></p>
      <br>
      <br>
      <a href="#cards" class="shop-now"> SHOP NOW <i class="fas fa-long-arrow-alt-down arrow-down"></i></a>
    </div>
  </div>
</div>
<br>
<br>



<div class="info mt-5">
  <div class="container">  
      <p data-aos="fade-right"  data-aos-duration="3000" class="heading2">High quality handmade business that delivers <span class="main-color"> creativity</span>  and handmade items paying close attention to details and <span class="second-color"> quality at affordable prices.</span>  Our products range from custom bracelets, glittered wine glasses, custom mugs and more.</p>
      <br>
      <br>
      <div class="find-craft container">
        <p class="text-center heading2" data-aos="zoom-in-up">Find your perfect Craft</p>
      </div>
      <br>
      <br>

      <div class="flipping-cards" id="cards">
          <div class="flipping-card">
            <div class="front card-1">
              <p class="heading2">Mugs</p>
            </div>
            <div class="back">
              <img class="mb-4" src="https://images.pexels.com/photos/2417857/pexels-photo-2417857.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="Mugs" />
              <%= link_to "Shop", categories_path, class: "text-dark text-decoration-none" %>
            </div>
          </div>
          <!-- card 2 -->
          <div class="flipping-card">
            <div class="front card-2">
              <p class="heading2">Bracelets</p>
            </div>
            <div class="back">
              <img class="mb-4" src="https://images.pexels.com/photos/371285/pexels-photo-371285.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="Bracelets" />
              <%= link_to "Shop", categories_path, class: "text-dark text-decoration-none" %>
            </div>
          </div>
          <!-- card 3 -->
          <div class="flipping-card">
            <div class="front card-3">
              <p class="heading2">Glasses</p>
            </div>
            <div class="back">
              <img class="mb-4" src="https://images.pexels.com/photos/7184413/pexels-photo-7184413.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="Glasses  " />
              <%= link_to "Shop", categories_path, class: "text-dark text-decoration-none" %>
            </div>
          </div>
        </div>
    
    <%# --------------------------------- %>
        <br>
        <p data-interval="2000" data-aos="fade-left"  data-aos-duration="3000" class="heading2">
          Celebrating the precious moments of life with handmade   <span class="main-color">crafts</span>  that give real meanings.
          Each one of our <span class="second-color"> handmade </span>   pieces is uniquely made just for you. With just the right designs, materials, and birthstones, your memories are captured in stunning personalized craft that speak beyond words.
          It’s a privilege to take part in your life’s journey and to see the joy our work gives you. And that’s the reason we <strong class="second-color"> Love</strong>  what we do!
        </p>
  </div>
</div>
 

<%# ------------------------contact us form -------------------%>
<br>
<br>
<div class="container mb-5">
  <div class="hr"></div>
  <section class="mb-4">
      <p class="heading2  text-center my-4">Contact us</p>
      <div class="contact-us-form">
            <p class="text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to contact us directly. We will come back to you within
            a matter of hours to help you.</p>
            <form
              action="https://formspree.io/f/xbjpaprp"
              method="POST"
              class="form pt-4"
            > 
              <label>
                Full Name:
                <input type="text" name="name" class="form-control input">
                <div class="hr"></div>
              </label>
              <label>
                Email:
                <input type="text" name="_replyto" class="form-control input">
                <div class="hr"></div>
              </label>
              <label> 
                Your message:
                <textarea name="message" class="form-control text-area"></textarea>
                <div class="hr"></div>
              </label>
               <button type="submit" class="btn-lg btn-outline-primary">Send</button>
            </form>
      </div>
  </section>
</div>




