<div class="lg:px-16 py-6 px-6">
  <h3 class="text-center text-5xl my-6">Privacy Policy</h3>
  <div class="hr my-6"></div>
  <h3 class="text-lg font-normal">Privacy Policy & Cookies Policy </h3>
  
  <br>
  <br>
  Nessy Creativity Crafts recognises the importance of protecting the personal data of all customers and clients, to feel confident and comfortable with how any personal information you share with us will be looked after or used. This Privacy Policy sets out how we collect, use and store your personal information (this means any information that identifies or could identify you). By accessing and using Nessy Creativity Craftss’ services or providing Nessy Creativity Crafts with any personal information, you are agreeing to terms set out within our policy. It’s important, so please read it and make sure you control your privacy. Our website is not intended for use by children who are under 16 years of age.
  <br>
  <br>
  We collect most information directly from you when you order or buy from us. We get technical details from the devices you use to access our website and from cookies which tell us what you look at online, where and when. Like most other websites, our technology also lets us know when and how you use our website, such as when you have added to or abandoned your basket or filled in a form.
  <br>
  <br>
  The personal information we collect and use will depend on why we need it. We will only collect the personal information we believe we need to use, or which you have agreed we can collect from you or agreed someone else can share with us.
  <br>
  <br>
  We could be given information about you unexpectedly, such as from the police, organisations and agencies trying to prevent threats and fraud, and from the public.
  <br>
  <br>
  <h3 class="text-lg font-normal">Our privacy principles</h3>
  
  <br>
  <br>
  We take your privacy seriously.

  We are committed to protecting the security of your personal information.

  We comply with data privacy laws when using your personal information.

  We only use it for lawful reasons you expect or that we explain to you in this document.

  We will limit our collection and use to details we really need or which you have provided.

  We will explain your rights to control your personal information to you and how to use them.
  <br>
  <br>
  <h3 class="text-lg font-normal">Our use of Data</h3>
  
  <br>
  <br>
  We take looking after your information very seriously. We need to collect and use information about you so that you can use our website, buy things from us and learn about our offers and new arrivals. We also need to use some details to prevent and detect fraud.
  <br>
  <br>
  We have implemented appropriate physical, technical and organisational measures to protect the personal information we have under our control, both on and off-line, from improper access, use, alteration, destruction and loss.
  <br>
  <br>
  How we use your personal data will depend on which services you have requested to use. We will use your personal information in a number of ways depending on the purposes for which it has been collected, including for the following purposes:
  <br>
  <br>
  ·       To provide you with the services or any information you have requested.
  <br>
  ·       To update you about any changes to our services.
  <br>
  ·       To communicate with you as set out in this policy (including administrative communications as well as communications about our products and services).
  <br>
  ·       To administer payments.
  <br>
  ·       To display your profile or content on the Nessy Creativity Crafts website/social media platforms (if you have agreed to do so).
  <br>
  ·       To administer our website and for internal operations, including troubleshooting, data analysis, testing, research, statistical and survey purposes.
  <br>
  ·       To maintain our organisational records and ensure we have your most up-to-date details, including marketing preferences.
  <br>
  ·       To help us improve our services, campaigns or information-offering, and improve your interactions with our website (including via cookies).
  <br>
  ·       To enable you to participate in interactive features on our website.
  <br>
  ·       To enable you to participate in voluntary surveys or research.
  <br>
  ·       To analyse your website behaviour.
  <br>
  ·       To deal with enquiries and/or complaints made by or about you.
  <br>
  ·       To audit and/or administer our accounts.
  <br>
  ·       To help us work with third parties to ensure that we send you targeted communications.
  <br>
  ·       To identify relevant networks and other suitable partners for Nessy Creativity Crafts.
  <br>
  <br>
  We always want you to get the most out of our website, so if you do experience any issues with our online forms we may follow up with you to find out how our team can best support you with any problems experienced.
  <br>
  <br>
  <h3 class="text-lg font-normal">How we collect personal information</h3>
  
  <br>
  <br>
  We want to make sure you receive the communications that are most relevant to you, be it through visiting our website or receiving emails, post or phone calls. We collect personal information as volunteered by you in any registration forms and subscriptions.
  <br>
  <br>
  <h3 class="text-lg font-normal">We collect information from you in the following ways:</h3>
  
  <br>
  <br>
  ·       When you interact with us directly – this could be via email, post or phone.
  <br>
  ·       When you interact with us through partners or suppliers working on our behalf.
  <br>
  ·       When you interact with us through third parties - Please note; third party organisations will have their own privacy policies, and/or statements so please do ensure you check when providing your personal information to them.
  <br>
  ·       When you visit our website - we gather general information which might include which pages have been visited most often and which services or information is of most interest to visitors to the site.
  <br>
  <br>
  We collect non-identifying information to help us to understand how customers use our site, and to make improvements. This information consists of your IP address, your browser (e.g. Internet Explorer), when you visited and which pages you visited during your visit. We cannot use this information to find out anything at all about you and will not share any individual information unless required to do so by law.
  <br>
  <br>
  What categories of personal information we collect
  <br>
  <br>
  The types of personal information we collect depends on how we intend to use it.
  <br>
  <br>
  We collect, store and use the following kinds of personal information:
  <br>
  <br>
  ·       Identity data i.e. your name.
  <br>
  <br>
  ·       Contact data, including your email address, postal address, and phone number (for example, if we require additional information for personalised cards).
  <br>
  <br>
  ·       Financial data, including bank or payment card details.
  <br>
  ·       Transaction data.
  <br>
  ·       Technical data such as your IP address, when you browse our website.
  <br>
  ·       Marketing data such as your preferences for receiving communications from us.
  <br>
  ·       Any other information you provide us as above (see “How we collect personal information”
  <br>
  <br>
  For people we identify as having the potential to support Nessy Creativity Crafts in a greater capacity, we may collect job title(s), affiliated organisation(s), education, career history and relevant interests.
  <br>
  <br>
  Under the GDPR, we are required to ensure that any data is used only for the purpose for which it was requested and to make sure that the data is held securely. We only keep data as long as is reasonable and necessary for the relevant activity, which may be to fulfil statutory obligations.
  <br>
  <br>
  <h3 class="text-lg font-normal">How long we keep your information and why</h3>
  
  <br>
  <br>
  We will only keep your personal information for a limited period of time. This period will depend on a number of reasons, such whether we still need to deliver to you, or you have an account with us, or we are providing ongoing customer care to you. Sometimes we must also keep your information by law, to deal with a regulator or where required by our insurers. We delete your personal information at your request where possible and we won’t keep it for longer than we should or need to for the provision of a service and for communicating with you.
  <br>
  <br>
  <h3 class="text-lg font-normal">How we keep your data safe and who has access to it</h3>
  
  <br>
  <br>
  We place great importance on the security of your personal information and always take appropriate precautions to protect it.
  <br>
  <br>
  We ensure that there are security measures in place to protect your personal data. For example, we use encryption technology across our communication networks.
  <br>
  <br>
  We only allow authorised personnel to have access to your information i.e. Nessy Creativity Crafts staff or contractors.
  <br>
  <br>
  Payment details (such as credit or debit cards) we receive through our website are passed securely to our payment processing providers who meet the required Payment Card Industry (PCI) Security Standards.
  <br>
  <br>
  Despite all of our precautions no data transmission over the internet can be guaranteed to be 100% secure.
  <br>
  <br>
  <h3 class="text-lg font-normal">Marketing Communications</h3>
  <br>
  <br>
  We love to keep our supporters up to date with our marketing and campaign activity. If you have given us your consent to do so, we will contact you for marketing purposes by email and telephone calls. We may also send you communications by post, on the basis it is in our legitimate interests to do so, unless you ask us not to.
  <br>
  <br>
  You can update your choices or stop us sending you these communications at any time by contacting  <strong>contact@nessycreativitycrafts.com</strong> or by clicking the unsubscribe link at the bottom of the relevant email communication.
  <br>
  <br>
  <h3 class="text-lg font-normal">Developing Services and Research</h3>
  
  <br>
  <br>
  We use data, including public feedback, to conduct research and for the further development of our services in order to provide you and others with a better experience. In some cases, we work with trusted third parties to perform this research, such as Survey Monkey, under controls that are designed to protect your privacy. We publish these insights, presented as aggregated data rather than personal data.  You are not obligated to respond to polls or surveys, and you have choices about the information you provide. You may opt-out of survey invitations.
  <br>
  <br>
  <h3 class="text-lg font-normal">External organisations - who we share your personal information with and why</h3>
  
  <br>
  <br>
  We use others to help us provide our services, these include other group companies and external contractors (e.g. IT support and maintenance, delivery companies). They will have access to your information as reasonably necessary to perform these tasks on our behalf and are obligated not to disclose or use it for other purposes, making sure your privacy is respected and protected.
  <br>
  <br>
  We will provide personal information about you to the police, fraud prevention and credit reference agencies when we have to by law, or when we deem necessary to prevent fraud. If we decide to reorganise or sell all or most of our business, your personal information may be transferred to the buyer of the business but we will never sell your personal information to third parties for them to market their products to you.
  <br>
  <br>
  Any information that could identify a particular user of our services is treated in the strictest confidence and will not be shared outside of Nessy Creativity Crafts without the prior consent of that individual. Nessy Creativity Crafts, however, has certain legal, professional and ethical obligations to report crime and protect the health and safety of the individual and/or others. Therefore, there may be certain situations where Nessy Creativity Crafts may need to break confidentiality and communicate concerns with external organisations due to our legal, professional and ethical obligations.
  <br>
  <br>
  The personal information we collect about you will mainly be used by our staff at Nessy Creativity Crafts so that they can support you.
  <br>
  <br>
  We will never sell or share your personal information with organisations so that they can contact you for any marketing activities. Nor do we sell any information about your web browsing activity.
  <br>
  <br>
  Nessy Creativity Crafts may however share your information with our trusted partners and suppliers who work with us on or on our behalf to deliver our services, but processing of this information is always carried out under our instruction and when there is a reason to do so we will only share your personal information with your consent.
  <br>
  <br>
  We enter into contracts with these service providers that require them to comply with Data Protection Laws and ensure that they have appropriate controls in place to secure your information.
  <br>
  <br>
  <h3 class="text-lg font-normal">ELegal disclosure</h3>
  
  <br>
  <br>
  We may disclose your information if required to do so by law (for example, to comply with applicable laws, regulations and codes of practice or in response to a valid request from a competent authority); or, in order to enforce our conditions of sale and other agreements.
  <br>
  <br>
  <h3 class="text-lg font-normal">Legal basis for using your information</h3>
  
  <br>
  <br>
  Data privacy law requires us to have one or more lawful grounds to process your personal information. The following grounds are relevant to our use of your information:
  <br>
  <br>
  ·       Consent. In many cases we will seek consent to process your personal information, for example to send you marketing emails, and text messages. Where we do rely on consent, you are entitled to withdraw it at any time.
  <br>
  <br>
  ·       To protect your vital interests.
  <br> 
  ·       Where we have a contractual relationship with you. If we enter into a contract with you we will process information to administer that contract.
  <br>
  ·       Legal obligations. We will sometimes pass on personal information to comply with legal obligations such as providing tax information to HMRC.
  <br>
  ·       “Legitimate Interests”. Where it is appropriate we rely on the processing being in our legitimate interests, provided we are confident that such processing is not likely to override your own legitimate interests or rights and freedoms. For example, sending you marketing communications, provided this is done in an unobtrusive manner.
  <br>
  <br>
  <h3 class="text-lg font-normal">Your rights</h3>
  
  <br>
  <br>
  You have rights to find out about how and why we use your personal information and to control its use. These include rights to access and correct your details, in some cases to ask us to limit or stop our use of them and even to delete them. Where we use your personal information based on your consent, you have the right to change your mind and you can always unsubscribe from our direct marketing to you, by simply clicking unsubscribe in a marketing email, or in this policy.
  <br>
  <br>
  Your privacy matters, so we have appointed a Data Protection Officer to help. You can get in touch with our Customer Care team for help with data protection matters at  <strong>contact@nessycreativitycrafts.com</strong>.
  <br>
  <br>
  You also have a right to complain to the UK’s privacy regulator should you feel your rights or the law has been compromised.
  <br>
  <br>
  We provide many choices about the collection, use and sharing of your data. Under the General Data Protection Regulation, you have the right to;
  <br>
  <br>
  ·       be informed
  <br>
  ·       right of access
  <br>
  ·       right to rectification
  <br>
  ·       right to erasure
  <br>
  ·       right to restrict processing
  <br>
  ·       right to data portability
  <br>
  ·       right to object
  <br>
  ·       right not to be subject to automated decision-making including profiling.
  <br>
  <br>
  You have the right to ask for a copy of any information which we hold about you, known as a subject access request. You also have the right to have any data removed or inaccuracies corrected. If you wish to make a subject access request, you will need to put your request to us in writing including proof of identity. We will have a month to comply with your request. Please note that we can refuse or charge for requests that are manifestly unfounded or excessive. Some of these rights only apply in certain circumstances and we may not be able to fulfil every request. If this happens then we will clearly explain the reasons why.
  <br>
  <br>
  If you wish to exercise any of these rights or make a complaint, you can do so by contacting our Data Protection Officer at Nessy Creativity Crafts by emailing <strong>contact@nessycreativitycrafts.com</strong>. You can also make a complaint to the data protection supervisory authority, the Information Commissioner's Office, https://ico.org.uk/.
  <br>
  <br>
  <h3 class="text-lg font-normal">Links to other websites</h3>
  
  <br>
  <br>
  Our website may, from time to time, provide links to other websites. We have no control over such websites and are not responsible for the content of these websites. While we try to link only to sites that share our standards and respect for privacy, we are not responsible for the content or the privacy practices employed by other sites. Please be aware that advertisers or web sites that have links on our site may collect personally identifiable information about you. This privacy policy does not cover the information practices of those websites or advertisers. You are advised to read the Privacy Policy or statement of other websites prior to using them.
  <br>
  <br>
  Updates of the Nessy Creativity Crafts Privacy Policy
  <br>
  <br>
  This policy may change from time to time. If we make any significant changes to this policy, we will publicise these changes clearly on our website or contact you directly with more information.
  <br>
  <br>
  This Privacy Policy was last updated on 23th March 2021.
  <br>
  <br>
  Please revisit this policy each time you consider giving your personal information to Nessy Creativity Crafts.
  <br>
  <br>
  <h3 class="text-lg font-normal">Cookies Policy
  What is a cookie?</h3>
  
  <br>
  <br>
  A cookie is a small file that is sent to your computer or mobile phone that lets us know that you have used our website before. They are automatically placed onto your device by some websites that you visit and are widely used to improve the performance of a website, for saving different options and to provide website owners with information on how the site is being used.
  <br>
  <br>
  There are two types of cookies; permanent and temporary (session cookies). Permanent cookies are stored as a file on your computer for some time. Session cookies are stored temporarily in your computer's memory and disappear when you close your browser. You can find out more about how cookies work on the BBC website.
  <br>
  <br>
  <h3 class="text-lg font-normal">How we use cookies</h3>
  
  <br>
  <br>
  We use cookies to enhance the experience of the website, to increase the performance, to identify how the website is being used, where we can make improvements and to monitor how our pages perform. Some of our cookies are vital for the website to operate effectively and others are optional. We use these cookies to find out things such as how many people are using the website. We can also see where users have come to the site from and the pages they visited before. We view this information in reports (provided by Google Analytics) so we can see how well the website is working and to understand how the website is being used so we can make it easier and more enjoyable for you to browse.
  <br>
  <br>
  Cookies collect information in an anonymous form. This means we don’t know who the information has come from and we don’t make any attempt to find out. We collect this information in a way which does not identify anyone. We will not link any data gathered from this site with any information from any source that could be used to identify you.
  <br>
  <br>
  If we decide to collect personal information about you through our website we will make it clear when we are collecting personal information (such as your name or age) and will explain how we will use it.
  <br>
  <br>
  If you want to know more about Google Analytics cookies you can view their privacy information here: Learn more
  <br>
  <br>
  <h3 class="text-lg font-normal">Who uses the information stored in cookies?</h3>
  
  <br>
  <br>
  The information stored in the cookies from our website is used exclusively by us, except for those identified as "third-party cookies", which are used and managed by external entities to provide services requested by us to improve our services and the experience of the user when browsing our website. We use Google Analytics to provide us with statistical data on which of our web pages have been visited, at what times and how long for. We also collect anonymous demographic data. We use this information to help improve our services to you. No personally identifying information is stored.
  <br>
  <br>
  <h3 class="text-lg font-normal">How to control or delete cookies</h3>
  
  <br>
  <br>
  You may refuse the use of cookies by changing your internet browser settings to disable the use of cookies.  You can do this by;
  <br>
  <br>
   -        In Internet Explorer, click on Tools, click on Settings, click on the Privacy tab and then use the slider bar to choose the level of privacy you want.
  <br>
  <br>
   -        In Firefox, click on Tools, click on Options, click on Privacy, click on the Cookies tab and choose your level of privacy.
  <br>
  <br>
  Please note that if you control or delete these cookies it may mean that some areas of the site will not work well for you; you may experience slower running times and you may not be able to access all website content.
  <br>
  <br>
  For other browsers and more information about cookies please go to:
  <br>
  <br>
  www.allaboutcookies.org
  <br>
  <br>
  Acceptance of cookie use
  By continuing to use our website you will have been deemed to have agreed to our use of cookies subject to any preferences you may have indicated to us or any overriding browser settings you may have.
  </div>
</div>
