<div class="lg:px-16 py-6 px-6">
  <h3 class="text-center text-3xl my-6">Questions and Answers</h3>
  <div class="hr my-6"></div>
  <h3 class="text-lg font-normal">Frequently Asked Questions</h3>
  
  <br>
  <br>
  How do I change or cancel my web order?
  <br>
  <br>
  In most circumstances, it’s not possible to make changes to your order once you’ve placed it. However, if you do need to change details of your delivery address, remove items from your order or cancel it completely, please contact our team as soon as possible for advice at <strong>contact@nessycreativitycrafts.com</strong>.
  <br>
  <br>
  If your order is already out for delivery then you’ll need to follow our Returns procedure in the event of any unwanted items.
  <br>
  <br>
  How do I return an order I purchased using Paypal?
  <br>
  <br>
  PayPal is an online payment method and can only be refunded by returning your order back to the website.
  <br>
  <br>
  Why have I had a refund when I didn’t cancel my web order or return anything?
  You will be refunded if we are unable to deliver an item you have ordered. We try hard not to let this happen but when it does, and we can’t get you a replacement we send you a refund.
  <br>
  <br>
  Can I cancel my order before delivery?
  <br>
  <br>
  If you haven’t had the email confirming that we’ve shipped your item, you can get in touch with us and we can normally cancel your order straight away. If your item has already been dispatched, it may take a little longer, but we’ll let you know what will happen when you get in touch.
  <br>
  <br>
  Contact our team at <strong>contact@nessycreativitycrafts.com</strong>.
  </div>
</div>