<div class="container">
  <div class="hr mt-5 mb-5"></div>
  Returns
  <br>
  <br>
  i) Refunds may be accepted if something is wrong with an item you have purchased. If you request a refund, your payment for the item will be refunded within 28 days of receipt of your order. If you paid by credit card the refund will be made to the card.
  <br>
  <br>
  ii) Proof of purchase must be provided to receive a refund. This could be via your online Soocdid customer account or sales receipt.
  <br>
  <br>
  iii) Refunds for goods lost in transit will only be made on receipt of proof of postage.
  <br>
  <br>
  iv) We only accept returns from the person who purchased the item/s.
  <br>
  <br>
  We will not be able to make the refund until the payment has cleared in our account.
</div>
