
  <header class="top-header">
</header>

<!--dust particel-->
<div>
  <div class="starsec"></div>
  <div class="starthird"></div>
  <div class="starfourth"></div>
  <div class="starfifth"></div>
</div>
<!--Dust particle end--->


<div class="lamp__wrap">
  <div class="lamp">
    <div class="cable"></div>
    <div class="cover"></div>
    <div class="in-cover">
      <div class="bulb"></div>
    </div>
    <div class="light"></div>
  </div>
</div>
<!-- END Lamp -->
<section class="error">
  <!-- Content -->
  <div class="error__content">
    <div class="error__message message mb-5">
      <h3 class="message__title ">Site under construction!</h3>
      
    </div>
    <%# <div class="error__nav e-nav">
      
    </div> %>
  </div>
  <!-- END Content -->

</section>

