<div class="container">
  <div class="hr mt-5 mb-5"></div>
  Terms & Conditions
  <br>
  <br>
  Welcome to the Nessy Creativity Crafts terms and conditions, which apply to all items ordered from Nessy Creativity Crafts. Please read through them carefully before placing your order. By using this website and/or placing an order you agree to be bound by the terms and conditions set out below. Please also read our Privacy Policy regarding personal information provided by you.
  <br>
  We may change these terms and conditions from time to time without notice to you. Changes will apply to any subsequent orders received. Once your order has been confirmed, we will not be able to make any changes to the terms that apply to that order.
   <br>
  Before placing an order, if you have any queries relating to these terms and conditions, please contact our team at our <strong>email</strong> .
  <br>
   

  1.      By using the Nessy Creativity Crafts website you agree to be legally bound by these terms and conditions, which shall take effect immediately on your first use of the Nessy Creativity Crafts website.
  <br>
  2.      Nessy Creativity Crafts may change these terms and conditions at any time by posting changes online. Please review these terms and conditions regularly. Use of the Nessy Creativity Crafts site after changes to the terms and conditions are posted means you agree to be legally bound by the updated terms and conditions.
  <br>
  <br>
  Delivery
  <br>
  <br>
  We offer two delivery options for UK customers: (1) Standard Delivery and (2) Special Delivery (tracked and faster delivery). Charges apply to both options and will vary based on weight and size of item/s.
  <br>
  <br>
  OTHER INFORMATION
  <br>
  <br>
          Please note, no changes can be made to the delivery address after the order has been placed.

          UK Bank holidays are not classified as delivery days, please allow an extra working day for deliveries over UK Bank holidays.
  <br>
  <br>
  Purchases
  <br>
  <br>
  In the event of circumstances beyond its control, Nessy Creativity Crafts reserves the right to amend or cancel any order. Nessy Creativity Crafts is not liable for any expense incurred by customers as a result of cancellation. Please note that by submitting this form you are entering into a contract with Nessy Creativity Crafts to pay according to our terms.
  <br>
  <br>
  If there are any problems with your order we shall contact you. We reserve the right to reject any offer to purchase by you at any time. We will take all necessary measures to keep the details of your order and payment secure.
  <br>
  <br>
  Prices are subject to change without notice. These changes will not affect orders that have already been despatched. Prices are inclusive of VAT (where applicable).
  <br>
  <br>
  Goods are subject to availability. As there is a delay between the time when the order is placed and the time when the order is accepted, the stock position relating to particular items may change. If an item you have ordered becomes out of stock before we accept the order we shall notify you as soon as possible and you will not be charged for the out of stock items.
  <br>
  <br>
  Title Retention: Any items ordered remain our property until we receive full payment.
  <br>
  <br>
  Copyright
  <br>
  <br>
  All rights reserved. All materials are copyright © Nessy Creativity Crafts. The Nessy Creativity Crafts name, logo and strapline are trademarks of Nessy Creativity Crafts.
  <br>
  <br>
  Disclaimer
  <br>
  <br>
  Nessy Creativity Crafts endeavours to ensure the content of this website is accurate and up to date but does not accept any liability for error or omission.
  <br>
  Nessy Creativity Crafts does not accept liability for any inconvenience, loss or damage arising from the use or inability to use any of the information on this website.
  <br>
  Nessy Creativity Crafts takes no responsibility for the content of external websites and any such links should not be taken as an endorsement of any kind.
 <br>
 <br>
  Terms and conditions of sale
  <br>
  <br>
  To purchase items from Nessy Creativity Crafts's online shop, you’ll need to submit personal details such as your name and card information. All information sent during this process is encrypted and the shop is secured using a SSL Certificate. SSL is a secure socket layer which is commonly used on-ecommerce sites and pages that require users to submit personal or credit card information.
  <br>
  <br>
  Although the Nessy Creativity Crafts Shop website uses encryption security software in areas where on-line payment details are accepted, the security of information and payments transmitted via the internet cannot be guaranteed. Any loss incurred or sustained by you when transmitting information by means of email or other internet links shall be borne solely and exclusively by you and in no event shall any such loss in whole or in part be borne by Nessy Creativity Crafts or its agents.
  <br>
  <br>
  When you place an order, you will be sent an acknowledgement email stating the order number, date and time of order, billing and shipping information, goods ordered, subtotal, shipping cost and grand total. Although the email will state method of payment (for example, credit card/Paypal) it will not include the card details you have supplied for security reasons.
  <br>
  <br>
  Any notice of cancellation should be sent to <strong>email</strong>. Once your order is out for delivery you will not be able to cancel your order. Commissioned pieces: A form is provided to be filled and signed once you agree on a briefing for your commissioned piece and will be notified when work has commenced. You will not be able to cancel/change your order once work begins. A 50% non-refundable deposit is required before work begins. We will create a rough sketch with a variety of compositions and colour combinations which will be sent directly to your email. Once your painting is complete and ready for delivery, the remaining 50% of the price + delivery/shipping cost will be requested and must be settled. Once full payment has been made your painting will be sent out for delivery/shipping.
  <br>
  <br>
  Invoices will be issued upon purchase electronically (paper copy upon request). Any shortages/non-deliveries must be reported within 10 working days of receipt.
  <br>
  <br>
  Work process usually takes…

  -        2-3 days.
  <br>
  <br>
  Description of the goods
  <br>
  <br>
  We have made every effort to display as accurately as possible the colours of our products that appear on the website. However, as the actual colours you see will depend on your monitor, we cannot guarantee that your monitor's display of any colour will accurately reflect the colour of the product on delivery. All sizes and measurements are approximate, however we do make every effort to ensure they are as accurate as possible.
  <br>
  <br>
  We will take all reasonable care to ensure that all details, descriptions and prices of products appearing on the website are correct at the time when the relevant information was entered onto the system. We reserve the right to refuse orders where product information has been mis-published, including prices and promotions.
  <br>
  <br>
  Availability
  <br>
  <br>
  The supply of goods from this website is subject to availability and it is not always possible for us to inform you at the time you place your order whether the goods you want are still available for purchase. In the case of this happening a refund will be given.
  <br>
  <br>
  Alteration of service or amendments to the Conditions
  <br>
  <br>
  We reserve the right to make changes to our website, policies, and these Terms and Conditions of Purchase at any time. You will be subject to the policies and Terms and Conditions of Purchase in force at the time that you use the website or that you order goods from us, unless any change to those policies or these conditions is required to be made by law or government authority (in which case it will apply to orders previously placed by you). If any of these conditions are deemed invalid, void, or for any reason unenforceable, that condition will be deemed severable and will not affect the validity and enforceability of any remaining condition.
  <br>
  <br>
  Contracts are concluded in English and are subject to the laws of England and Wales. Any disputes shall be subject to the exclusive jurisdiction of the Courts of England and Wales.
  <br>
  <br>
  Refunds
  <br>
  <br>
  i) Refunds may be accepted if something is wrong with an item you have purchased. If you request a refund, your payment for the item will be refunded within 28 days of receipt of your order. If you paid by credit card the refund will be made to the card.

  ii) Proof of purchase must be provided to receive a refund. This could be via your online Soocdid customer account or sales receipt.

  iii) Refunds for goods lost in transit will only be made on receipt of proof of postage. None of the above terms and conditions affect your statutory rights. However, we will not be able to make the refund until the payment has cleared in our account.

  iv) We only accept returns from the person who purchased the item/s.
  <br>
  <br>
  Your Privacy
  <br>
  <br>
  We take your privacy seriously and will only use your data to process your order, contact you if subscribed to our newsletter and contact you on any administrative matters that may come up.
  <br>
  <br>
  You can find out more about your rights, how we use your personal information and how we keep your details safe and secure by reading our Privacy Policy.
</div>