<%# ------------------------contact us form -------------------%>

<div class="container mb-5">
  <section class="mb-4">

      <h2 class="h1-responsive  text-center my-4">Contact us</h2>
      <p class="text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to contact us directly. We will come back to you within
          a matter of hours to help you.</p>
      
      <div class="contact-us-form">
            <form
              action="https://formspree.io/f/xbjpaprp"
              method="POST"
              class="form pt-4"
            >
              <label>
                Full Name:
                <input type="text" name="name" class="form-control input">
              </label>
              <label>
                Email:
                <input type="text" name="_replyto" class="form-control input">
              </label>
              <label>
                Your message:
                <textarea name="message" class="form-control text-area"></textarea>
              </label>
               <button type="submit" class="btn-lg btn-outline-primary">Send</button>
            </form>
      </div>
  </section>
</div>