.alert {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1000;
  color: black;
  background-color: rgb(255, 240, 243);
  border: 1px solid rgb(206, 206, 206);
  // background: linear-gradient(
  //   -45deg,
  //   rgb(235, 238, 218),
  //   #fedae8,
  //   #cef1fe,
  //   #cdf9ee
  // );
  // animation: gradient 15s ease infinite;
  // border-radius: 5px;
  // background-size: 400% 400%;
}
