<div class="lg:px-16 py-6 px-6">
      <h3 class="text-center text-3xl my-6">Update Details</h3>
      <br>
      <div class="hr mb-5"></div>
      <br>
      <div class="services-form">
        <%= render 'form', user_detail: @user_detail %>
        <br>
        <p class="text-center"><%= link_to 'Back', profile_path, class: 'device-links' %></p> 
      </div>
</div>