<div class="big-container">
<div class="outside">
<div class="text-center">
  <h1 class="update-header mb-4">Update My Details</h1>

  <div class="services-form">
    <%= render 'form', user_detail: @user_detail %>
    <%= link_to 'Back', user_detail_path(@user_detail), class: 'btn btn-info2 btn-smaller mb-3' %>
  </div>
</div>
</div>
</div>