<div class="big-container">
  <div class="outside">
    <div class="container">
  <p class="heading2 text-center">Update My Details</p>
  <br>
  <div class="hr mb-5"></div>
  <br>
  <div class="services-form">
    <%= render 'form', user_detail: @user_detail %>
    <br>
    <p class="text-center"><%= link_to 'Back', profile_path, class: 'device-links' %></p> 
  </div>
</div>
  </div>
</div>