
<div class="form-wrap">
  <p class="heading2 text-center">Add Your Details</p>

  <div class="services-form">
    <%= render 'form', user_detail: @user_detail %>
    <br>
    <%= link_to 'Back', profile_path, class: 'device-links' %>
  </div>
</div>
